@model Web.ViewModels.IA.Research.IAResearchListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="iar_index">
    <div class="container">
        <h2 class="section-title">Акты внедрения результатов НИР</h2>
    </div>
</section>



