@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="ScienceProjectIndex">
    <div class="container">
        <div class="section-title">
            <h2>Научные проекты</h2>
        </div>

        <div class="d-flex">
            <div class="mr-auto py-2">
                <a href="#" class="rounded-btn">
                    <i class="fa fa-file"></i>
                    <span class="ml-1">Новая заявка</span>
                </a>
            </div>
        </div>
        <hr class="my-3 px-5" />
        <table class="table table-hover" id="sp_table">
            <thead>
                <tr class="text-white">
                    <td></td>
                    <td class="w-50">Наименование проекта</td>
                    <td class="w-50">Программа проекта</td>
                    <td class="w-25">Стоимость</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</section>



